<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Me | Learning Journal</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <header>
    <nav>

    </nav>
  </header>

  <main>
    <section class="about-section">
      <h1>About Me</h1>
      <img src="images/file.jpg" alt="Sapana Chhantyal" class="profile-img" />
      <p>My name is <strong>Sapana Chhantyal</strong>, and I’m studying <em>BSc (Hons) Computer Science</em> at the School of Games and Creative Technology.</p>
      <p>I’m passionate about web and mobile app development, and I enjoy learning how to design and build creative digital experiences.</p>
      <p>This journal will record my weekly progress, projects, and reflections as I grow as a developer.</p>
    </section>
  </main>

  <footer>
    <p>© 2025 Sapana Chhantyal | University for the Creative Arts</p>
  </footer>
</body>
<script src="/static/js/script.js"></script>
<script src="/static/js/formapi.js"></script>
</html>
